body
{
    width: 100%;
    height: 100%; 
    padding: 0px;
    margin: 0px;
    background-image: url(../images/geometric-4076402_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DejaVu Sans Mono', monospace;
    line-height: 25px;
}

.entrar
{
    background-color: white;
    width: 40%;
    height: 48%;
    border-radius: 25px;
}

.login-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.login-title p
{
    font-size: 20px;
}

.input-area
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-area input
{
    width: 75%;
    height: 35px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

.input-area input:focus 
{
    outline: none;
}

#user
{
    margin-top: 25px;
    font-family: 'DejaVu Sans Mono', monospace;
}

#pass
{
    margin-top: 15px;
    font-family: 'DejaVu Sans Mono', monospace;
}

.div_btnIS
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnIS
{
    margin-top: 35px;
    color: black;
    background: linear-gradient(115deg, lightblue 20%, pink 80%);
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    font-family: 'DejaVu Sans Mono', monospace;
}

#btnIS:hover
{
    transform: scale(1.05);
}